{% extends 'layout.html' %}

{% block body %}
    <h1>Watch List <small> Welcome {{session.username}}</small></h1>
    <table class="table table-striped">
        <tr>
            <th>Ticker</th>
            <th>Close Price</th>
            <th>Open Price</th>
            <th>Last Update</th>
            <th></th>
        </tr>
        {% for stock in stocks %}
            <tr>
                <td>{{stock[0]}}</td>
                <td>{{stock[1]}}</td>
                <td>{{stock[2]}}</td>
                <td>{{stock[3]}}</td>
                <td><a href="untrack/{{stock[0]}}" class="btn btn-danger" role="button">Untrack</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}